*,
*::after,
*::before  {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', 'sans-serif';
    margin: 0;
    padding: 0;
    height: 100vh;
}

html {
    scroll-behavior: smooth;
}

/* navigasi*/

.navbar-container {
    width: 100%;
    max-width: 1200px;
    padding-block: 1rem;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 9999;
}
.navbar-container .logo img {
    width: 100px;
}
.navbar-container .nav-list ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 2rem 1rem;
}
.navbar-container .nav-list li {
    list-style: none;
}
.navbar-container .nav-list li a {
    padding: 0.5rem 1.5rem;
    border-radius: 999px;
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 500;
    color: black;
    transition: all 0.2s ease-in-out;
}
.navbar-container .nav-list li:hover a {
    background-color: cadetblue;
    color: white;
}

/* Section */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}
.section-container {
    display: flex;
}

/* Intro */

#introduction {
    gap: 5rem;
    height: 80vh;
}
.section-pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}
.title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 0;
}
.intro-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.intro-details-container {
    justify-content: center;
    flex-direction: column;
}
.intro-containers,
.intro-details-container {
    display: flex;
}
.into-pic {
    border-radius: 2rem;
}
.intro-details,
.details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: black;
    text-align: center;
}
.section-container {
    gap: 4rem;
    height: 80%;
}
.section__pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
}

/*gallery*/

#gallery {
    gap: 5rem;
    height: 80vh;
}
.section-text-p {
    font-size: 1rem;
    text-align: center;
}
.border-container {
    border-color: black;
    background: white;
}
.gallery-img {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}
.enemy-title {
    margin: 1rem;
    color: black;
}

/*Abilities and Powers*/

#abilities-powers {
    gap: 5rem;
    height: 80vh;
}
.sub-title {
    color: black;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}
.experience-details-containers {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.ability-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    display: flex;
}
.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}
article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

/*miscelaneous*/

#miscellaneous {
    gap: 5rem;
    height: 80vh;
}

/*Contact*/

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}
.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: black 0.1rem solid;
    border-color: black;
    background: white;
    margin: 2rem auto;
    padding: 0.5rem;
}
.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
  }
  .contact-info-container p {
    font-size: larger;
  }
  .contact-icon {
    cursor: default;
  }
  .email-icon,
  .web-icon {
    height: 2.5rem;
  }

/*Footer*/

footer {
    padding: 5px;
    background-color: cadetblue;
    color: white;
    text-align: center;
    font-size: 1rem;
}